.main{
    height: auto;
   
  width: 70%;
margin: auto;
background-color: rgba(0, 0, 0, 0.589);
border: 1px solid rgba(255, 255, 255, 0.815);
border-radius: 10px;
padding: 20px;
}
.view{
 height: auto;
padding-top: 10px;
background-image: linear-gradient(rgba(0, 0, 0, 0.37),rgba(0, 0, 0, 0.233)),url(../into-success-group-young-freelancers-office-have-conversation-smiling_146671-13567.jpg);
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
width: 100%;

}
.profile{
    
    width: 100%;
    height: 250px;
    
background-color: rgba(28, 34, 34, 0.623);
padding-left: 70px;
    

    display: flex;
}
.name{
width: 70%;
color: white;
padding-top: 80px;
}
.photo{
width: 30%;
display: flex;
align-items: center;
justify-content: center;

}
.img img{
    width: 200px;
    height: 200px;
    /* background-color: aliceblue; */
    border-radius: 4px;
   
}
th{
    width: 180px;
    /* background-color: yellow; */
}
.main td{
    text-align: left;
}
.img img{
    width: 100%;
}